.subtotal {
  width: 250px;
  height: 100px;
  padding: 20px;
  background-color: #f3f3f3;
  border: 1px solid #dddddd;
  border-radius: 3px;
  margin: 10px;
  display: flex;
  color: black;
  flex-direction: column;
  justify-content: space-between;
}

.subtotalContainer .subtotal--gift {
  display: flex;
  align-items: center;
}

.subtotal--gift input {
  margin-right: 5px;
}

.subtotalContainer .proceedbutton {
  background: #f7ca00;
  border: 1px solid;
  border-color: #9b8212;
  width: 150px;
  height: 30px;
  align-items: center;
  border-radius: 12px;
  margin-top: 10px;
  color: black;
}

.subtotalContainer button:hover {
  color: black;
  background-color: hsl(41, 100%, 46%);
  transition: 0.6s ease;
  box-shadow: 0px 14px 26px rgba(0, 0, 0, 0.4);
}

/* // subtotal.css
.subtotal{
    width: 200px;
    height: 150px;
    padding: 20px;
    background-color: #f3f3f3;
    border: 1px solid #dddddd;
    border-radius: 3px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.subtotal--gift{
    display: flex;
    align-items: center;
}

.subtotal--gift input{
    margin-right: 5px;
}

.subtotal button{
    background-color: #F7CA00;
    width: 100%;
    height: 30px;
    border: 0px solid;
    border-color: #9b8212;
    color: black;
    border-radius: 5px;
    margin-top: 10px;
} */
